[package]
name = "crustls"
version = "0.6.1"
authors = ["Jacob Hoffman-Andrews <github@hoffman-andrews.com>"]
description = "C-to-rustls bindings"
edition = "2018"
links = "crustls"

[dependencies]
# Keep in sync with RUSTLS_CRATE_VERSION in lib.rs
rustls = { git = "https://github.com/ctz/rustls", rev = "c0fab5f74a4ff50e45c70f5712fdd76cc567eb3d", features = [ "dangerous_configuration" ] }
webpki = "0.22"
libc = "0.2"
rustls-native-certs = "0.5.0"
sct = "0.7"
rustls-pemfile = "0.2.1"
log = "0.4.14"

[dev_dependencies]
cbindgen = "*"

[lib]
name = "crustls"
crate-type = ["lib", "staticlib"]
