[package]
name = "rustls-ffi"
version = "0.8.0"
authors = ["Jacob Hoffman-Andrews <github@hoffman-andrews.com>"]
description = "C-to-rustls bindings"
edition = "2018"
links = "rustls_ffi"

[features]
# Enable this feature when building as Rust dependency. It inhibits the
# default behavior of capturing the global logger, which only works when
# built using the Makefile, which passes -C metadata=rustls-ffi to avoid
# interfering with copies of the global logger brought in by other Rust
# libraries.
no_log_capture = []

[dependencies]
# Keep in sync with RUSTLS_CRATE_VERSION in build.rs
rustls = { version = "=0.20", features = [ "dangerous_configuration" ] }
webpki = "0.22"
libc = "0.2"
sct = "0.7"
rustls-pemfile = "0.2.1"
log = "0.4.14"
num_enum = "0.5.4"

[dev_dependencies]
cbindgen = "*"

[lib]
name = "rustls_ffi"
crate-type = ["lib", "staticlib"]
