[package]
name = "rustls-ffi"
version = "0.7.0"
authors = ["Jacob Hoffman-Andrews <github@hoffman-andrews.com>"]
description = "C-to-rustls bindings"
edition = "2018"
links = "rustls_ffi"

[dependencies]
# Keep in sync with RUSTLS_CRATE_VERSION in lib.rs
rustls = { version = "^0.19.0", features = [ "dangerous_configuration" ] }
webpki = "0.21"
libc = "0.2"
sct = "0.6.0"
rustls-pemfile = "0.2.0"
log = "0.4.14"

[dev_dependencies]
cbindgen = "*"

[lib]
name = "rustls_ffi"
crate-type = ["lib", "staticlib"]
