include_guard = "RUSTLS_H"
language = "C"

usize_is_size_t = true

[enum]
prefix_with_name = true
rename_variants = "ScreamingSnakeCase"

[export]
include = ["rustls_tls_version"]

[defines]
"feature = read_buf" = "DEFINE_READ_BUF"
"feature = aws-lc-rs" = "DEFINE_AWS_LC_RS"
"feature = ring" = "DEFINE_RING"

[parse.expand]
crates = ["rustls-ffi"]
features = ["read_buf", "aws-lc-rs", "ring"]
