include_guard = "RUSTLS_H"
language = "C"
# Keep in sync with "package.version" in Cargo.toml
after_includes = """

#define RUSTLS_VERSION_MAJOR 0
#define RUSTLS_VERSION_MINOR 15
#define RUSTLS_VERSION_PATCH 0

/**
 * This gives each version part 8 bits, and leaves the 8 least significant bits
 * empty for future additions, for example pre-release versions.
 */
#define RUSTLS_VERSION_NUMBER ((RUSTLS_VERSION_MAJOR << 24)   \\
                               |(RUSTLS_VERSION_MINOR << 16)  \\
                               |(RUSTLS_VERSION_MINOR << 8))

#if defined(__clang__) || defined(__GNUC__)
# define DEPRECATED_FUNC(why) __attribute__((deprecated(why)))
#elif defined(_MSC_VER)
# define DEPRECATED_FUNC(why) __declspec(deprecated(why))
#else
# define DEPRECATED_FUNC(why)
#endif
"""

usize_is_size_t = true

[fn]
deprecated_with_note = "DEPRECATED_FUNC({})"

[enum]
prefix_with_name = true
rename_variants = "ScreamingSnakeCase"

[export]
include = ["rustls_tls_version"]

[defines]
"feature = read_buf" = "DEFINE_READ_BUF"
"feature = aws-lc-rs" = "DEFINE_AWS_LC_RS"
"feature = ring" = "DEFINE_RING"
"feature = fips" = "DEFINE_FIPS"
"feature = ktls" = "DEFINE_KTLS"

[parse.expand]
crates = ["rustls-ffi"]
features = ["read_buf", "aws-lc-rs", "ring", "fips", "ktls"]
